@import 'variables';
@import '~bulmaswatch/lumen/variables';
@import '~bulma/bulma.sass';
@import '~bulmaswatch/lumen/overrides';

// HomeHeroIcon
.home-hero-icon__wrapper_content {
  display: inline-flex;
  align-items: center;
  svg {
    margin-right: 0.5rem;
  }
  strong {
    font-size: 8rem;
  }
}

// HomeHeroChart
.home-hero-chart {
  background: $black-ter;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  margin: auto;
}
.home-hero-chart__label {
  fill: $grey-lighter;
  font-size: 1rem;
}
